@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
:root {
  --fg-color: #000;
  --hl-light: #dedede;
  --hl-dark: #ccc;
  /* change */
  --bg-color: #fff;
  --invert: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-top: 50px;
  font-family: 'Ubuntu Mono', monospace;
  background: var(--bg-color);
  color: var(--fg-color);
  filter: invert(var(--invert));
  max-height: calc(100vh - 50px);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  border-bottom: 1px solid var(--hl-dark);
  display: flex;
}

nav div {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

nav #options {
  position: absolute;
  right: 0;
}

nav #back, nav #options div {
  font-size: 1.2em;
  width: 50px;
  justify-content: center;
  transition: opacity .3s;
}

nav #back {
  opacity: 0;
  border-right: 1px solid var(--hl-dark);
}

nav #back.active {
  opacity: 1;
}

nav #options div {
  border-left: 1px solid var(--hl-dark);
}

nav #nav-toggle {
  cursor: pointer;
  padding: 10px 22px 11px 10px;
  border-right: 1px solid var(--hl-dark);
  width: 50px;
}

nav #nav-toggle span, nav #nav-toggle span:before, nav #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}

nav #nav-toggle span:before {
  top: -8px;
}

nav #nav-toggle span:after {
  bottom: -8px;
}

nav #nav-toggle span, nav #nav-toggle span:before, nav #nav-toggle span:after {
  transition: all .3s ease-in-out;
}

nav #nav-toggle.active span {
  background-color: transparent;
}

nav #nav-toggle.active span:before, nav #nav-toggle.active span:after {
  top: 0;
}

nav #nav-toggle.active span:before {
  transform: rotate(45deg);
}

nav #nav-toggle.active span:after {
  transform: rotate(-45deg);
}

nav #back.active:hover, nav #nav-toggle:hover, nav #options div:hover {
  background: var(--hl-dark);
  cursor: hand;
  cursor: pointer;
}

nav #folder {
  font-size: 1.5em;
  padding: .3em;
  padding-left: .5em;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.loader {
  text-align: center;
  padding: 2em;
}

#browser, #editor {
  /* position: absolute; */
  height: calc(100vh - 50px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#browser {
  width: 33ch;
  transition: width .3s;
}

#browser.hide {
  /* display: none; */
  width: 0;
}

#browser div:not(.loader) {
  width: 100%;
  height: 2.6em;
  /* 2em + padding */
  padding: .3em;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

#browser div span {
  position: absolute;
  white-space: nowrap;
  padding-left: .3em;
}

#browser div span.name {
  top: .3em;
}

#browser div span.time {
  bottom: .3em;
}

#browser div:nth-child(odd):not(.loader) {
  background-color: var(--hl-light);
}

#browser div:not(.loader):hover {
  background-color: var(--hl-dark);
}

#browser div:not(:last-child) {
  /* border-bottom: 1px solid var(--hl-dark); */
}

#editor {
  width: calc(100vw - 33ch - 1px);
  /* width: 67vw; */
  /* right: 0; */
  overflow-y: hidden;
  transition: width .3s;
}

#browser.hide+#editor {
  width: 100vw;
}

.CodeMirror {
  height: calc(100vh - 50px - 48px - 28px);
  border-right: 0;
  border-left: 0;
}

.editor-toolbar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.editor-statusbar .autosave:before {
  content: 'saved: '
}

@media all and (max-width: 716px) {
  .CodeMirror {
    height: calc(100vh - 50px - 78px - 28px);
  }
}
